<app-navbar-auth></app-navbar-auth>

<div class="min-h-screen bg-[#C7DED5] flex flex-col items-center py-10">

  <!-- CARD DA EMPRESA -->
  <div *ngIf="empresa; else carregando" class="w-full max-w-3xl px-4 mb-10">
    <div 
      class="h-60 bg-cover bg-center rounded-t-2xl flex items-end p-4 border border-gray-300 shadow-md"
      [ngStyle]="{'background-image': 'url(' + empresa.imagem + ')'}">
    </div>

    <div class="p-6 border-x border-b border-gray-300 rounded-b-2xl bg-white shadow-sm space-y-1 text-gray-800">
      <p><strong>Nome:</strong> {{ empresa.name }}</p>
      <p><strong>Cidade:</strong> {{ empresa?.cidade }} - {{ empresa.estado }}</p>
      <p><strong>Bairro:</strong> {{ empresa.bairro }}</p>
      <p><strong>Endereço:</strong> {{ empresa.rua }}, {{ empresa.numero }}</p>
      <p><strong>Telefone:</strong> {{ empresa.telefone }}</p>
    </div>
  </div>
  <!-- LISTA DE SERVIÇOS -->
     <div class="flex flex-col justify-center items-center min-h-[91vh] bg-[#C7DED5] px-3 py-8">
        <h2 class="text-3xl font-bold text-center text-[#2d5a4f] mb-8">
         Todos os Serviços
    </h2>

  <div 
    *ngIf="getServicesEntreprenuer; else carregando" 
    class="w-full max-w-6xl px-4 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">

    <div 
      *ngFor="let service of getServicesEntreprenuer || []"
      class="p-5 border border-gray-200 rounded-2xl bg-white shadow-sm hover:shadow-md transition-all text-gray-800">

      <h3 class="text-lg font-semibold text-[#648f80] mb-2">{{ service.nome }}</h3>
      <p><strong>Categoria:</strong> {{ service.categoria }}</p>
      <p><strong>Descrição:</strong> {{ service.descricao }}</p>
      <p><strong>Duração:</strong> {{ service.duracao }} minutos</p>

      <div class="mt-3 space-y-1">
        <p *ngFor="let data of service.dias" class="text-sm">
          <strong>Dia:</strong> {{ data.label }}
        </p>

        <p *ngFor="let data of service.time" class="text-sm">
          <strong>Horário:</strong> {{ data.label }}
        </p>
      </div>

      <div class="mt-4">
        <button 
          class="bg-[#648f80] text-white px-4 py-2 rounded-md hover:bg-[#4e7266] transition-all" 
          [routerLink]="['/establishment/scheduling', service._id, userId]">
          Agendar
        </button>
      </div>
    </div>
    </div>
  </div>

  <ng-template #carregando>
    <p class="text-center text-gray-500 mt-10">Carregando dados...</p>
  </ng-template>

</div>

<app-footer></app-footer>
