@import "tailwindcss";
@import "primeicons/primeicons.css";
.p-inputmask input {
  background-color: #ffffff !important; /* branco */
  color: #648f80 !important;           /* texto verde */
  border: 1px solid #648f80 !important;
  border-radius: 0.375rem;             /* equivalente a rounded-md do Tailwind */
}

/* Checkbox global */
.p-checkbox .p-checkbox-box {
  background-color: white !important;
  border-color: #648f80 !important;
}

.p-checkbox.p-checkbox-checked .p-checkbox-box {
  background-color: #648f80 !important;
  border-color: #648f80 !important;
}

.p-checkbox .p-checkbox-icon {
  color: white !important;
}

